*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}

/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}
/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 627px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 0;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), e-resize;
}
.prev:hover{
	cursor: url("../../assets/left.png"), w-resize;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.mirror{
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: flip;
  -ms-filter: "flip";
}


.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}

/*project history stuff*/
.history{
	padding-top: 40px;
}

.history1 span{
	float: right;
	width: 400px;
	font-size: 20px;
	margin-right: 140px;
	margin-top: 300px;
}

.history2 img{
	float: right;
	margin-top: 80px;
}
.history2 span{
	float: left;
	width: 400px;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 150px;
}

.history3 img{
	width: 100%;
	margin-top: 80px;
}


.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -645px;
	width: 89.1%;
	height: 440px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	padding-top: 120px;
	opacity: .75;
}
.fold p{
	margin-top: -20px;
	max-width: 50% !important;
}


.history4 img{
	width: 100%;
	height: 66%;
}

.down{
	width: 20%;
	height: 100%;
	top: 0;
	margin-left: 40%;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), s-resize;
}


.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}

.empty{
	height: 50px;
}

.press{
	position: absolute;
	height: 640px;
	width: 93%;
	margin-top: -645px;
	z-index: 10;
	cursor: url("../../assets/down.png"), s-resize;
}

.history img:hover{
	cursor: url("../../assets/down.png"), auto;
}
.history3 img{
	cursor: auto !important;
}

@media only screen and (width: 2560px){
	figure{
		height: 1366px;
	}
	figure img{
		height: 1366px;
	}

	.fold{
		margin-top: -1276px;
		width: 94.5%;
		height: 1072px;
		font-size: 30px;
	}
	.fold p{
		max-width: 50% !important;
	}

	.history1 img{
		width: 1000px;
		height: 1600px;
	}
	.history1 span{
		font-size: 30px;
		width: 800px;
		margin-right: 350px;
	}

	.history2 img{
		width: 1400px;
		height: 900px;
	}
	.history2 span{
		font-size: 30px;
		width: 800px;
		margin-left: 150px;
		margin-top: 350px;
	}

	.history3 img{
		height: 1300px;
	}

	.press{
		position: absolute;
		height: 1230px;
		width: 95%;
		margin-top: -1235px;
		z-index: 10;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}
	
	.project-history{
		font-size: 1.5em;
	}

	.fold{
		margin-top: -964px;
		width: 92.7%;
		height: 760px;
	}

	.history1 img{
		width: 800px;
		height: 1400px;
	}
	.history1 span{
		font-size: 30px;
		width: 600px;
		margin-right: 250px;
	}

	.history2 img{
		width: 1200px;
		height: 700px;
	}
	.history2 span{
		font-size: 30px;
		width: 600px;
		margin-left: 40px;
		margin-top: 300px;
	}

	.history3 img{
		height: 1000px;
	}
	.press{
		height: 960px;
		margin-top: -965px;
	}
}

@media only screen and (width: 1440px){
	.fold{
		margin-top: -725px;
		width: 1300px;
		height: 521px;
	}
}

@media only screen and (width: 1366px){
	.fold{
		margin-top: -687px;
		height: 483px;
		width: 1225px;
	}
}

@media only screen and (width: 1080px){
	.fold{
		margin-top: -544px;
		width: 940px;
		height: 340px;
	}
	.fold p{
		max-width: 70% !important;
	}
	.history1 img{
		width: 500px;
		height: 700px;
	}
	.history1 span{
		width: 300px;
		margin-top: 200px;
		margin-right: 140px;
	}
	.history2 img{
		width: 700px;
		height: 300px;
	}
	.history2 span{
		width: 80%;
		margin-top: 100px;
	}
	.history3 img{
		height: 600px;
	}
}

@media only screen and (width: 1024px){
	.fold{
		margin-top: -516px;
		width: 884px;
		height: 312px;
	}
	.fold p{
		max-width: 80% !important;
	}

	.history1 img{
		width: 500px;
		height: 700px;
	}
	.history1 span{
		width: 300px;
		margin-top: 200px;
		margin-right: 100px;
	}
	.history2 img{
		width: 700px;
		height: 300px;
	}
	.history2 span{
		width: 80%;
		margin-top: 100px;
	}
	.history3 img{
		height: 600px;
	}
}

@media only screen and (width: 800px){
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px !important;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}
	
	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}

	.fold{
		font-size: 20px;
		height: 199px !important;
		width: 660px;
		margin-top: -404px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -100px;
	}
	.press{
		width: 90%;
		height: 360px;
		margin-top: -365px;
	}

	.history1 img{
		margin-left: 100px;
	}
	.history1 span{
		margin-top: 40px;
		margin-right: 100px;
		width: 600px;
		text-align: left;
	}

	.history2 img{
		margin-top: 40px;
		width: 100%;
	}
	.history2 span{
		margin-top: 40px;
		width: 600px;
		margin-left: 100px;
		text-align: left;
	}
	.history3 img{
		margin-top: 40px;
		width: 100%;
		height: 500px;
	}
}

@media only screen and (width: 768px){
	.fold{
		margin-top: -388px;
		width: 628px;
		height: 185px;
	}
	.fold p{
		margin-top: -80px;
		max-width: 80% !important;
	}

	.history1 img{
		width: 700px;
		margin-left: 34px;
	}
	.history1 span{
		width: 700px;
		margin-right: 34px;
		margin-top: 20px;
	}

	.history2 span{
		width: 700px;
		margin-left: 34px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px !important;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}
	
	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}

	.fold{
		font-size: 20px;
		height: 169px !important;
		width: 596px;
		margin-top: -372px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -100px;
	}
	.press{
		width: 90%;
		height: 360px;
		margin-top: -365px;
	}

	.history1 img{
		margin-left: 68px;
	}
	.history1 span{
		margin-top: 40px;
		margin-right: 68px;
		width: 600px;
		text-align: left;
	}

	.history2 img{
		margin-top: 40px;
		width: 100%;
	}
	.history2 span{
		margin-top: 40px;
		width: 600px;
		margin-left: 68px;
		text-align: left;
	}
	.history3 img{
		margin-top: 40px;
		width: 100%;
		height: 500px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		margin-top: -339px !important;
		width: 568px;
		height: 235px !important;
		font-size: 18px !important;
		padding-left: 20px;
		padding-top: 20px;
	}
	.fold p{
		margin-top: 0px;
	}

	.history1 img{
		margin-left: 33.5px;
	}
	.history1 span{
		margin-right: 33.5px;
	}
	.history2 span{
		margin-left: 33.5px;
	}
	.press{
		width: 89%;
		height: 330px;
		margin-top: -335px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -288px !important;
		font-size: 15px !important;
		width: 468px;
		height: 184px !important;
	}
	.fold p{
		font-size: 14px !important;
	}

	.history1 img{
		width: 500px;
		margin-right: 34px;
	}
	.history1 span{
		width: 500px;
		margin-right: 34px;
	}
	.history2 span{
		width: 500px;
		margin-right: 34px;
	}

	.press{
		width: 92%;
		height: 280px;
		margin-top: -285px;
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		font-size: 11px !important;
		margin-top: -211px !important;
		width: 314px !important;
		height: 108px !important;
	}
	.fold p{
		max-width: 90% !important;
		font-size: 10px !important;
	}

	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
	}


	.history img{
		width: 100%;
	}

	.history span{
		font-size: 1em;
		width: 375px;
	}

	.history1 img{
		margin-left: 0px;
		padding-left: 0px;
	}
	.history1 span{
		margin-top: 20px;
		margin-right: 20px;
		text-align: left;
	}

	.history2 img{
		margin-top: 20px;
		margin-left: 0px;
		height: 300px;
	}
	.history2 span{
		margin-left: 20px !important;
		margin-top: 20px !important;
		text-align: left;
	}

	.history3 img{
		margin-top: 20px;
		height: 400px;
	}
	.press{
		display: none;
	}

	.footer a{
		margin-left: 45px !important;
	}
	.footer .line{
		margin-left: 100px !important;
	}
}


@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.fold{
		margin-top: -193px !important;
		font-size: 10px !important;
		width: 275px !important;
		height: 91px !important;
	}
	.fold p{
		font-size: 11px !important;
	}

	.history img{
		width: 100%;
	}
	.history span{
		width: 320px !important;
	}

	.history2 img{
		width: 375px;
	}
	.history2 span{
		width: 320px;
		margin-left: 25px !important;
	}
	.footer .line{
		margin-left: 70px !important;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

	.fold{
		margin-top: -164px !important;
		font-size: 9px !important;
		width: 320px !important;
		height: 60px !important;
		padding-right: 0px;
		padding-left: 0px;
	}
	.fold p{
		max-width: 80% !important;
		font-size: 10px !important;
		margin-left: 20px !important;
	}

	.title{
		font-size: 15px !important;
		margin-top: -38px;
	}

	.history1 img{
		width: 320px;
	}
	.history1 span{
		width: 290px !important;
		font-size: 1em;
		margin-left: 15px;
	}

	.history2 img{
		height: 200px;
	}
	.history2 span{
		width: 290px !important;
		font-size: 1em;
		margin-left: 15px !important;
	}
	.history3 img{
		height: 300px;
	}
	.footer{
		font-size: 15px !important; 
	}
	.footer .line{
		margin-left: 60px !important;
	}
	.footer a{
		margin-left: 25px !important;
	}
}




.animation-element {
  opacity: 0;
  position: relative;
}


.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.fade-in {
	opacity: 0;
	-moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.fade-in.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


.animation-element.slide-up{
	opacity: 0;
	-moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.slide-up.in-view{
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}



.footer{
	color: white;
	font-size: 17px;
	background-color: #ee3b2c;
	width: 100%;
	height: 40px;
	cursor: pointer;
	margin-top: -4px;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 40px;
}
