*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}


/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 648px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 648px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}



@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}
}

/*iphone 6 plus*/
@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
}

/*iphone 6*/
@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

}


/*.flickity-prev-next-button.next
.flickity-prev-next-button*/








