body{
  font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
  color:white;
  position: absolute;
  left: 0;
  margin-top: -77px;
  margin-left: 0px;
  padding: 20px 20px 20px 20px;
  font-size: 28px;
  background-color: black;
  /*background-color: rgb(238,60,47);*/
  opacity: .8;
}
h2:hover{
  background-color: rgb(238,60,47);
  opacity: 1;
}



img{
  width: 100%;
  height: 100%
}

/*starting the page with a black background
so it has a positive ux/ui feel*/
.slideshow {
  background: #000;
}

/*setting the positions and width, etc*/
.slideshow, .slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*opacity is smoother and that the images fit the width*/
.slideshow .slide {
  background-position: center;
  background-size: cover;
  opacity: 0;
}

/*makes sure the image before is stacked and cant be seen*/
.slideshow .slide.previous {
  z-index: 1;
  opacity: 1;
}

/*stacked as wekk but is put in the forefront*/
.slideshow .slide.current {
  z-index: 2;
  -webkit-animation: fadein 5000ms linear both;
          animation: fadein 5000ms linear both;
}

/*transition affects*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


/*iphone 6 plus*/
@media only screen and (max-width: 414px) {
  .slideshow{
    background: #000;
  }

  .slideshow, .slideshow .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 414px;
    height: 100%;
  }

  .slideshow .slide{
    background-position: center;
    background-size: cover;
    opacity: 0;
  }

  .slideshow .slide.previous{
    z-index: 1;
    opacity: 1;
  }

  .slideshow .slide.current{
    z-index: 2;
    -webkit-animation: fadein 3000ms linear both;
            animation: fadein 3000ms linear both;
  }

  @-webkit-keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
}



/*iphone 6*/
@media only screen and (max-width: 375px){
  .slideshow{
    background: #000;
  }

  .slideshow, .slideshow .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
  }

  .slideshow .slide{
    background-position: center;
    background-size: cover;
    opacity: 0;
  }

  .slideshow .slide.previous{
    z-index: 1;
    opacity: 1;
  }

  .slideshow .slide.current{
    z-index: 2;
    -webkit-animation: fadein 3000ms linear both;
            animation: fadein 3000ms linear both;
  }

  @-webkit-keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 414px) {
  h2{
    font-size: 20px !important;
    padding: 10px 20px 10px 10px;
    margin-top: -48px;
  }
  
}

@media only screen and (max-width: 320px){
  .slideshow{
    background: #000;
  }

  .slideshow, .slideshow .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
  }

  .slideshow .slide{
    background-position: center;
    background-size: cover;
    opacity: 0;
  }

  .slideshow .slide.previous{
    z-index: 1;
    opacity: 1;
  }

  .slideshow .slide.current{
    z-index: 2;
    -webkit-animation: fadein 3000ms linear both;
            animation: fadein 3000ms linear both;
  }

  @-webkit-keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes fadein{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }
}











