body{
  font-family: 'Roboto', sans-serif;
}

.office{
  width: 100%;
}

.grid{
  margin: auto;
}
.grid img{
  width: 250px;
  height: 125px;
  margin: auto;
/*  margin-left: 5px;
  margin-top: 5px;*/
}

@media only screen and (min-width: 1920px) {
  .office{
    margin: auto;
    width: 100%;
    height: 1000px;
    background-color: #0d0d0d;
  }
  .office img{
    /*margin-top: 100px;*/
  }
  .grid img{
    width: 375px;
    height: 187.5px;
    margin-left: 5px;
  }
  .grid{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0d0d0d;
  }

}