
body {
  /*background-image: url(/Users/kamalkumar/Desktop/SBLM/CSS/ASSETS/1.jpg);*/
  background-size: cover;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  -webkit-animation: fadein 3000ms linear both;
          animation: fadein 3000ms linear both;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.topnav{
  position: relative;
}


/*styling for offices*/
.office {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  color: white;
  display: inline-block;
  display: flex;
  font-size: 20px;
  color: gray;
}
strong{
  /*color: #f20;*/
  color: white;
}

/*giving spaces to each of the offices*/
.nyc {
  width: 175px;
  padding-right: 60px;
}

.island {
  width: 175px;
  padding-right: 60px;
}

.miami {
  width: 175px;
  padding-right: 60px;
}

.dallas {
  width: 175px;
  padding-right: 60px;
}

.ire {
  width: 175px;
}

.inq {
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  color: white;
  margin-top: 40px;
}



/*styling for email link*/
a {
  text-decoration: none;
  color:#f20;
}

a:visited {
  text-decoration: none;
}

@media only screen and (max-width: 736px) {
  .office{
    font-size: 18px;
    padding-left: 0px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nyc {
    width: 150px;
    padding-right: 20px;
  }

  .island {
    width: 150px;
    padding-right: 20px;
  }

  .miami {
    width: 150px;
    padding-right: 20px;
  }

  .dallas {
    width: 150px;
    padding-right: 20px;
  }

  .ire {
    width: 150px;
  }

}

@media only screen and (max-width: 414px) {
  .office {
    overflow: none;
    position: relative;
    display: block;
    color: white;
    /*width: 400px !important;*/
    margin-top: 40px;
    margin-left: 89.5px;
  }

  .nyc {
    padding-bottom: 40px;
  }

  .island {
    padding-bottom: 40px;
  }

  .miami {
    padding-bottom: 40px;
  }

  .dallas {
    padding-bottom: 40px;
  }

  .ire {
    padding-bottom: 20px;
  }
  .inq{
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .office{
    margin-left: 70px;
  }
}

@media only screen and (max-width: 320px) {
  .office{
    margin-left: 45px;
  }
}









