*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

#work{
  margin-left: 60px;
}
#contact{
  margin-left: 60px;
}


.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}

figure img {
	width: 100%;
	height: 627px;
}


figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

.next:hover, .prev:hover {
	opacity: 0;
}

.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}

.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), wait;
}

.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -644px;
	width: 1700px;
	height: 560px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	opacity: .75;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	font-size: 28em;
}

.history1 img{
	width: 100%;
	height: 66%;
}

.other{
	font-size: 1.75em;
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-left: 40px;
	margin-top: -4px;
}


@media only screen and (width: 2560px){
	figure{
		height: 1366px;
	}
	figure img{
		height: 1366px;
	}

	.fold{
		margin-top: -1277px;
		width: 100%;
		height: 1200px;
		font-size: 30px;
	}
	.fold p{
		max-width: 50% !important;
		font-size: 29px !important;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	#contact{
    margin-left: 60px !important;
  }
  #work{
    margin-left: 60px !important;
  }
  
	.fold{
		margin-top: -964px;
		width: 2800px;
		height: 920px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}
	
	.fold{
		font-size: 20px;
		height: 256px;
		width: 596px;
		margin-top: -372px;
	}
	.fold p{
		max-width: 70% !important;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 667px){
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		margin-top: -339px;
		font-size: 18px !important;
		width: 568px;
		height: 280px;
		padding-left: 20px;
		padding-top: 20px;
	}
	.fold p{
		font-size: 17px !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -288px;
		font-size: 15px !important;
		width: 468px;
		height: 224px;
	}
	.fold p{
		font-size: 14px !important;
	}
}


@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		font-size: 12px !important;
		margin-top: -212px;
		width: 314px !important;
		height: 133px !important;
	}
	.fold p{
		max-width: 100% !important;
	}

	.title{
		font-size: 20px !important;
		position: absolute;
		z-index: 2;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
		color: white;
		background-color: black;
		opacity: .8;
	}
}


@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.fold{
		margin-top: -195px;
		font-size: 10px;
		width: 275px !important;
		height: 111px !important;
	}
	.fold p{
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

	.fold{
		margin-top: -164px;
		font-size: 9px !important;
		width: 220px !important;
		height: 80px !important;
	}
	.fold p{
		font-size: 10px !important;
	}
	
	.title{
		margin-top: -41px;
		font-size: 18px !important;
	}
}





