*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}

.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}


figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}

figure img {
	width: 100%;
	height: 627px;
}

figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}


.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

.next:hover, .prev:hover {
	opacity: 0;
}

.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), e-resize;
}
.prev:hover{
	cursor: url("../../assets/left.png"), w-resize;
}

.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}


.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -664px;
	width: 89.1%;
	height: 460px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	padding-top: 100px;
	opacity: .75;
}
.fold p{
	margin-top: 40px;
	max-width: 50% !important;
}

.history {
	padding-top: 40px;
}

.history1 img {
	margin-top: 20px;
	cursor: url("../../assets/down.png"), auto;
}
.history1 span{
	float: right;
	width: 400px;
	font-size: 20px;
	margin-right: 75px;
	margin-top: 150px;
}

.history2 img {
	margin-top: 20px;
	float: right;
}
.history2 span{
	float: left;
	width: 400px;
	font-size: 20px;
	margin-top: 200px;
	margin-left: 80px;
}

.history3 img{
	width: 100%;
	height: 700px;
}

.history6 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
	padding-bottom: 20px;
}


.down{
	width: 20%;
	height: 100%;
	top: 0;
	margin-left: 40%;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), s-resize;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}

.empty{
	height: 50px;
}

.press{
	position: absolute;
	height: 640px;
	width: 93%;
	margin-top: -645px;
	z-index: 10;
	cursor: url("../../assets/down.png"), s-resize;
}

@media only screen and (width: 2560px){
	figure{
		height: 1366px;
	}
	figure img{
		height: 1366px;
	}

	.fold{
		margin-top: -1297px;
		width: 94.5%;
		height: 1093px;
		font-size: 30px;
	}
	.fold p{
		max-width: 50% !important;
	}

	.history1 img{
		width: 1300px;
		height: 900px;
	}
	.history1 span{
		width: 800px;
		font-size: 30px;
		margin-right: 200px;
		margin-top: 300px;
	}

	.history2 img{
		width: 1300px;
		height: 1100px;
	}
	.history2 span{
		width: 800px;
		font-size: 30px;
		margin-left: 200px;
		margin-top: 500px;
	}

	.history3 img{
		height: 1200px;
	}

	.press{
		position: absolute;
		height: 1270px;
		width: 95%;
		margin-top: -1295px;
		z-index: 10;
	}
	.footer{
		margin-top: 1120px !important;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}
	.fold{
		margin-top: -984px;
		width: 92.7%;
		height: 780px;
		font-size: 30px;
	}

	.history1 img{
		width: 1100px;
		height: 700px;
	}
	.history1 span{
		width: 600px;
		font-size: 1.5em;
		margin-top: 250px;
		margin-right: 75px;
	}

	.history2 img{
		width: 1100px;
		height: 900px;
	}
	.history2 span{
		width: 600px;
		font-size: 1.5em;
		margin-top: 400px;
		margin-left: 80px;
	}

	.history3 img{
		margin-top: 80px;
		height: 900px;
	}

	.press{
		width: 95%;
		height: 960px;
		margin-top: -985px;
	}
	.footer{
		margin-top: 920px !important;
	}
}

@media only screen and (width: 1440px){
	.fold{
		margin-top: -744px;
		width: 1300px;
		height: 540px;
	}
	.fold p{
		max-width: 50% !important;
	}
}

@media only screen and (width: 1366px){
	.fold{
		margin-top: -708px;
		width: 1225px;
		height: 504px;
	}
}

@media only screen and (width: 1080px){
	.fold{
		margin-top: -564px;
		width: 940px;
		height: 360px;
	}
	.fold p{
		max-width: 70% !important;
	}
	.history1 img{
		width: 600px;
		height: 400px;
	}
	.history1 span{
		width: 300px;
		margin-top: 50px;
		margin-right: 50px;
	}
	.history2 img{
		width: 600px;
		height: 400px;
	}
	.history2 span{
		width: 300px;
		margin-left: 34px;
		margin-top: 120px;
	}
	.footer{
		margin-top: 420px !important;
	}
}

@media only screen and (width: 1024px){
	.fold{
		margin-top: -536px;
		width: 884px;
		height: 332px;
	}
	.fold p{
		max-width: 80% !important;
	}

	.history1 img{
		width: 600px;
		height: 400px;
	}
	.history1 span{
		width: 300px;
		margin-top: 50px;
		margin-right: 50px;
	}
	.history2 img{
		width: 600px;
		height: 400px;
	}
	.history2 span{
		width: 300px;
		margin-left: 34px;
		margin-top: 120px;
	}
	.footer{
		margin-top: 420px !important;
	}
}

@media only screen and (width: 800px){
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}


	.fold{
		font-size: 20px;
		height: 220px;
		width: 660px !important;
		margin-top: -424px !important;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -60px !important;
	}

	.history1 img{
		width: 700px;
		margin-left: 50px;
	}
	.history1 span{
		width: 700px;
		margin-right: 50px;
		margin-top: 40px;
	}

	.history2 img{
		width: 700px;
		margin-right: 50px;
		margin-top: 40px;
	}
	.history2 span{
		width: 700px;
		margin-left: 50px;
		margin-top: 40px;
	}

	.history3 img{
		margin-top: 40px;
		height: 500px;
	}

	.press{
		width: 95%;
		height: 365px;
		margin-top: -390px;
	}
	.footer{
		margin-top: 880px !important;
	}
}

@media only screen and (width: 768px){
	.fold{
		margin-top: -408px;
		width: 628px;
		height: 203px;
	}
	.fold p{
		margin-top: -40px;
		max-width: 80% !important;
	}
	.history1 img{
		width: 700px;
		margin-left: 34px;
	}
	.history1 span{
		width: 700px;
		margin-right: 34px;
		margin-top: 20px;
	}
	.history2 img{
		width: 700px;
		margin-right: 34px;
	}
	.history2 span{
		width: 700px;
		margin-left: 34px;
		margin-top: 20px;
	}
	.footer{
		margin-top: 840px !important;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -45px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}


	.fold{
		font-size: 20px;
		height: 190px;
		width: 596px !important;
		margin-top: -393px !important;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -60px !important;
	}

	.history1 img{
		width: 696px;
		margin-left: 20px;
	}
	.history1 span{
		width: 696px;
		margin-right: 20px;
		margin-top: 40px;
	}

	.history2 img{
		width: 696px;
		margin-right: 20px;
		margin-top: 40px;
	}
	.history2 span{
		width: 696px;
		margin-left: 20px;
		margin-top: 40px;
	}

	.history3 img{
		margin-top: 40px;
		height: 500px;
	}

	.press{
		width: 95%;
		height: 365px;
		margin-top: -390px;
	}
	.footer{
		margin-top: 870px !important;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		margin-top: -359px !important;
		width: 567px !important;
		height: 235px !important;
		padding-left: 20px;
		padding-top: 20px;
		font-size: 17px !important;
	}
	.fold p{
		margin-top: 30px !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -44px;
	}

	.history1 img{
		width: 600px;
		margin-left: 33.5px;
	}
	.history1 span{
		width: 600px;
		margin-right: 33.5px;
		margin-top: 40px;
	}

	.history2 img{
		width: 600px;
		margin-right: 33.5px;
		margin-top: 40px;
	}
	.history2 span{
		width: 600px;
		margin-left: 33.5px;
		margin-top: 40px;
	}

	.history3 img{
		margin-top: 40px;
		height: 500px;
	}

	.press{
		width: 89%;
		height: 335px;
		margin-top: -360px;
	}
	.footer{
		margin-top: 910px !important;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -309px !important;
		width: 468px !important;
		height: 185px !important;
		font-size: 14px !important;
	}
	.fold p{
		margin-top: 20px !important;
	}

	.history1 img{
		width: 500px;
		height: 400px;
		margin-left: 34px;
	}
	.history1 span{
		width: 500px;
		margin-right: 34px;
		margin-top: 40px;
	}

	.history2 img{
		width: 500px;
		margin-right: 34px;
		margin-top: 40px;
	}
	.history2 span{
		width: 500px;
		margin-left: 34px;
		margin-top: 40px;
	}

	.history3 img{
		margin-top: 40px;
		height: 400px;
	}

	.press{
		width: 89%;
		height: 280px;
		margin-top: -305px;
	}
	.footer{
		margin-top: 990px !important;
	}
}


@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		font-size: 11px !important;
		margin-top: -231px !important;
		width: 314px !important;
		height: 107px !important;
	}
	.fold p{
		max-width: 90% !important;
		margin-top: 0px !important;
	}

	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
	}

	.history img{
		width: 100%;
		font-size: 1em;
	}

	.history1 img{
		height: 300px;
		margin-left: 0px;
	}
	.history1 span{
		font-size: 1em;
		width: 375px;
		margin-right: 20px;
	}

	.history2 img{
		margin-right: 0px;
	}
	.history2 span{
		font-size: 1em;
		width: 375px;
		margin-left: 35px;
	}
	.press{
		display: none;
	}
	.footer{
		margin-top: 920px !important;
	}
	.footer a{
		margin-left: 20px !important;
	}
	.footer .line{
		margin-left: 100px !important;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.fold{
		margin-top: -212px !important;
		width: 275px !important;
		height: 89px !important;
		font-size: 10px !important;
	}

	.history1 span{
		width: 320px;
		margin-right: 20px;
	}

	.history2 span{
		width: 320px;
		margin-left: 35px;
	}
	.footer{
		margin-top: 985px !important;
	}
	.footer .line{
		margin-left: 70px !important;
	}
}


@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 350px;
	}

	.fold{
		margin-top: -184px !important;
		font-size: 10px !important;
		width: 220px !important;
		height: 60px !important;
		font-size: 9px !important;
	}

	.history1 span{
		width: 290px;
		margin-right: 5px;
	}

	.history2 span{
		width: 290px !important;
		margin-left: 15px;
	}

	.footer{
		margin-top: 1020px !important;
		font-size: 15px !important;
	}
	.footer .line{
		margin-left: 60px !important;
		display: none;
	}
	.footer a{
		margin-left: 55px !important;
	}
}



.footer{
	color: white;
	font-size: 17px;
	background-color: #ee3b2c;
	width: 100%;
	height: 40px;
	cursor: pointer;
	margin-top: 520px;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 40px;
}