
body {
  /*background-image: url(/Users/kamalkumar/Desktop/SBLM/CSS/ASSETS/1.jpg);*/
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}


.caption {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;
  padding-left: 40px;
  color: black;
  width: 300px;
}
.caption b {
  font-size: 36px;
  font-weight: 900;
}

.office {
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  color: black;
  display: inline-block;
  display: flex;
}
.nyc{
  width: 175px;
  padding-right: 40px;
}
.island{
  width: 175px;
  padding-right: 40px;
}
.miami {
  width: 175px;
  padding-right: 20px;
}
.dallas {
  width: 175px;
  padding-right: 20px;
}
.ire{
  width: 175px;
}

.inq{
  overflow: hidden;
  position: relative;
  padding-left: 40px;
  color: black;
  padding-bottom: 20px;
}
a{
  text-decoration: none;
  color:black;
}
a:visited{
  text-decoration: none;
}










