*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}


/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 600px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 600px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #fff;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 50%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: .5;
	user-select: none;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	cursor: pointer;
	opacity: 1;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}




.project-history {
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}
hr {
	width: 80%;
	margin: auto;
}


/*project history stuff*/
.history1 {
	padding-top: 30px;
	padding-left: 180px;
	width: 400px;
}

.history2{
	width: 400px;
	float: right;
	margin-top: -400px;
	padding-right: 180px;
}

.history3 {
	width: 200px;
	display: inline-block;
	padding-left: 180px;
	padding-top: 80px;
}
.history4 {
	width: 200px;
	padding-left: 400px;
	margin-top: -355px;
}



/*team stuff*/
.team1 {
	padding-top: 40px;
	width: 300px;
	padding-left: 120px;
}
.team1 img {
	padding-left: 800px;
	margin-top: -130px;
}



/*detail stuff*/
.details {
	padding-top: 40px;
	padding-left: 120px;
}
.stat {
	width: 300px;
	padding-bottom: 20px;
}




/*slider at the bottom stuff*/
.carousel {
	padding-top: 40px;
  /*background: #EEE;*/
}

.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: black;
}

.flickity-prev-next-button.next {
	margin-top: 0px;
}





@media only screen and (max-width: 1170px) {
	.history2 {
		width: 400px;
		float: left;
		margin-left: 180px;
		padding-top: 330px;
	}

	.history3{
		margin-top: -1195px;
		float: right;
		margin-right: 18%;
		position: relative;
		display: inline-block;
	}
	.history4{
		padding-top: 30px;
		position: relative;
		margin-right: 0%;
	}
	#team {
		padding-top: 400px;
	}
}
@media only screen and (max-width: 1120px) {
	.team1 img {
		padding-left: 500px;
	}
}
@media only screen and (max-width: 970px) {
	.history3 {
		padding-top: 1250px;
		display: inline-block;
		position: relative;
		float: left;
	}
	.history4 {
		padding-top: 55px;
		float: left;
		margin-left: -160px !important;
	}
	#team {
		margin-top: 800px;
	}
}
@media only screen and (max-width: 768px) {
	.history4 {
		margin-left: -130px !important;
	}
	.team1 img {
		padding-left: 400px;
	}
}
/*iphone 6+*/
@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	.history1 img{
		width: 350px;
		height: 250px;
	}
	.history1{
		padding-left: 35px;
		width: 300px;
	}

	.history2 img{
		width: 350px;
		height: 550px;
	}
	.history2 {
		width: 350px;
		margin-left: 32px !important;
	}

	.history3{
		margin-right: -200px !important;
		padding-left: 100px;
	}
	.history4{
		margin-top: 400px;
		padding-left: 130px;
	}

	#team{
		padding-top: 740px;
	}

	.team1 {
		padding-left: 60px;
		padding-bottom: 80px;
	}
	.team1 img{
		width: 200px;
		height: 200px;
		padding-left: 60px;
		padding-top: 180px;
	}

	.details{
		padding-left: 40px;
	}

	.flickity-prev-next-button.next {
		display: none;
	}
	.flickity-prev-next-button {
		display: none;
	}
}
/*iphone 6*/
@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
	.history1{
		padding-left: 15px !important;
	}
	.history2 img{
		width: 325px;
		height: 550px;
	}
	.history2{
		width: 325px;
		float: left;
		margin-left: 25px !important;
	}
	.history3 {
		margin-left: -10px;
	}

	#team{
		padding-top: 770px;
	}
	.team1{
		padding-left: 30px;
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}
	.history1 img{
		width: 250px;
		height: 200px;
	}
	.history1 {
		width: 250px;
		padding-left: 37.5px !important;
	}
	.history2 img{
		width: 275px;
		height: 375px;
	}
	.history2 {
		width: 275px;
		margin-left: 25px !important; 
	}
	.history3 {
		margin-left: -38px !important;
	}
	.history4{
		margin-top: 450px !important;
	}
	.team1{
		width: 275px;
		padding-left: 22.5px;
	}
	.team1 img{
		padding-left: 40px;
	}
	.details {
		width: 275px;
		padding-left: 10px;
	}
}


/*.flickity-prev-next-button.next
.flickity-prev-next-button*/








