body{
  background-color: black;
}
#about{
  margin-left: 40px;
}
.para{
  position: absolute;
  color: white;
  width: 60%;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 100px;
}

.list{
  position: absolute;
  color: white;
  margin-top: 320px;
  margin-left: -10px;
  font-size: 28px;
  text-decoration: none;
}
.list a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  transition: .5s;
  font-size: 28px;
}
ul{
  list-style: none;
}

.list a:hover{
  cursor: pointer;
  background-color: rgb(238, 60, 44);
}

@media only screen and (width: 1920px){
  .para{
    width: 35%;
  }
  .list{
    margin-top: 350px;
  }

   #contact{
    margin-left: 90px;
  }
  #work{
    margin-left: 90px;
  }
  #about{
    margin-left: 90px;
  }
}

@media only screen and (width: 414px){
  .para{
    width: 80%;
  }
  .list{
    margin-top: 600px;
  }
}
@media only screen and (width: 375px){
  .para{
    width: 80%;
  }
  .list{
    margin-top: 600px;
  }
}
@media only screen and (width: 320px){
  .para{
    width: 80%; 
  }
  .list{
    margin-top: 700px;
  }
}



















