*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 751px;
}

figure img {
	width: 100%;
	height: 627px;
}


figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

.next:hover, .prev:hover {
	opacity: 0;
}


.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../images/icons/right.png"), e-resize;
}
.prev:hover{
	cursor: url("../../images/icons/left.png"), w-resize;
}

.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -198px;
	color: white;
	background-color: black;
	opacity: .8;
}

.history{
	padding-top: 40px;
	font-size: 20px;
}

.history1{
	width: 100%;
	height: 66%;
	margin-top: -40px;
	padding-bottom: 20px;
	margin-top: 500px !important;
}

.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -665px;
	width: 89.1%;
	height: 455px;
	color: black;
	background-color: white;
	padding: 80px 80px 80px 60px;
	padding-top: 100px;
	padding-left: 130px;
	opacity: .75;
	font-family: 'Arimo', sans-serif;
	font: normal;
}
.fold p{
	margin-top: 40px;
	max-width: 50% !important;
	font-family: 'Arimo', sans-serif;
}


.down{
	width: 20%;
	height: 100%;
	top: 0;
	margin-left: 40%;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../images/icons/down.png"), s-resize;
}



@media only screen and (width: 2560px){
	figure{
		height: 1491px;
	}
	figure img{
		height: 1491px;
	}
	.title{
		margin-top: -198px;
	}
	.fold{
		margin-top: -665px;
		width: 94.5%;
		height: 1100px;
		font-size: 30px;
		padding-left: 190px;
	}
	.fold p{
		font-size: 29px !important;
		line-height: 48px !important;
		max-width: 50% !important;
	}
	.footer{
		margin-top: 600px !important;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 1085px
	}
	figure img{
		height: 1085px;
	}
	.title{
		margin-top: -198px;
	}
	.fold{
		margin-top: -665px;
		width: 92.7%;
		height: 815px;
		font-size: 25px;
	}
	.fold p{
		font-size: 28px !important;
		line-height: 45px;
	}
	.footer{
		margin-top: 310px !important;
	}
}

@media only screen and (width: 1440px){
	.fold{
		margin-top: -665px;
		width: 1300px;
		height: 540px;
	}
	.fold p{
		max-width: 50% !important;
	}
	.footer{
		margin-top:40px !important;
	}
}

@media only screen and (width: 1366px) {
	.fold{
		margin-top: -708px;
		width: 1225px;
		height: 500px;
	}
}

@media only screen and (width: 1080px){
	.fold{
		margin-top: -665px;
		width: 940px;
		height: 460px;
	}
	.fold p{
		max-width: 70% !important;
	}
	.footer{
		margin-top: -34px !important;
	}
}

@media only screen and (width: 1024px){
	.fold{
		margin-top: -665px;
		width: 884px;
		height: 473px;
	}
	.fold p{
		max-width: 80% !important;
	}
	.footer{
		margin-top: -34px !important;
	}
}

@media only screen and (width: 800px){
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 328px;
		width: 660px;
		margin-top: -540px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -50px !important;
	}
}

@media only screen and (width: 768px){
	.fold{
		margin-top: -664px;
		width: 628px;
		height: 475px;
	}
	.fold p{
		max-width: 80% !important;
		margin-top: -50px;
	}
	.footer{
		margin-top: -25px !important;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 480px;
		width: 526px;
		margin-top: -540px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -70px !important;
	}
	.footer{
		margin-top: 100px !important;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		margin-top: -540px;
		width: 568px;
		height: 450px;
		padding-left: 20px;
		padding-top: 20px;
		font-size: 17px !important;
	}
	.fold p{
		margin-top: 20px !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -44px;
	}
	.footer{
		margin-top: -10px !important;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -540px;
		width: 468px;
		height: 244px
		font-size: 14px !important;
	}
	.footer{
		margin-top: -10px !important;
	}
}

/*iphone 6 plus*/
@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	.fold{
		font-size: 11px !important;
		margin-top: -540px;
		width: 314px !important;
		height: 153px !important;
	}
	.fold p{
		max-width: 90% !important;
	}

	.title{
		font-size: 20px !important;
		position: absolute;
		z-index: 2;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
		color: white;
		background-color: black;
		opacity: .8;
	}

	.footer{
		margin-top: -310px !important;
	}
	.footer a{
		margin-left: 20px !important;
	}
	.footer .line{
		margin-left: 100px !important;
	}
}


@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.fold{
		margin-top: -88px;
		width: 275px !important;
		height: 200px !important;
		font-size: 10px !important;
	}
	.footer .line{
		margin-left: 70px !important;
	}
	.footer{
		margin-top: 185px !important;
	}
}



@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

	.fold{
		margin-top: -60px !important;
		font-size: 10px !important;
		width: 220px !important;
		height: 200px !important;
		font-size: 9px !important;
	}
	.footer{
		font-size: 15px !important;
		margin-top: 200px !important; 
	}
	.footer .line{
		margin-left: 60px !important;
		display: none;
	}
	.footer a{
		margin-left: 55px !important;
	}
}

.footer{
	position: relative;
	color: white;
	font-size: 17px;
	background-color: black;
	width: 100%;
	height: 0px !important;
	cursor: pointer;
	margin-top: -50px;
	z-index: 4;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 40px;
}




