body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.para, .list{
  -webkit-animation: fadein 2000ms linear both;
          animation: fadein 2000ms linear both;
}

/*#about{
  margin-left: 40px;
}*/
.para{
  position: absolute;
  color: #333;
  width: 60%;
  font-size: 32px;
  margin-left: 40px;
  margin-top: 350px;
  padding-left: 160px;
}

.list{
  position: absolute;
  color: #333;
  margin-top: 320px;
  margin-left: -10px;
  font-size: 28px;
  text-decoration: none;
}
.list a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  transition: .5s;
  font-size: 28px;
}
ul{
  list-style: none;
}

.list a:hover{
  cursor: pointer;
  background-color: rgb(238, 60, 44);
  color: white;
}

.overlay a:visited{
  text-decoration: none;
}

.topnav #about{
  background-color: #e4e4e4;
  height: 50px;
}

@media only screen and (width: 2560px){
  .para{
    width: 35%;
  }
}

@media only screen and (width: 1920px){
  .para{
    width: 35%;
  }
  .list{
    margin-top: 350px;
  }

/*   #contact{
    margin-left: 90px;
  }
  #work{
    margin-left: 90px;
  }
  #about{
    margin-left: 90px;
  }*/
}
@media only screen and (width:800px){
  .list{
    margin-top: 400px;
  }  
}
@media only screen and (width: 768px){
  .list{
    margin-top: 450px;
  }
}
@media only screen and (width: 736px){
  .list{
    margin-top: 450px;
  }
}

@media only screen and (width: 667px){
  .list{
    margin-top: 480px;
  }
}

@media only screen and (width: 568px){
  .list{
    margin-top: 550px;
  }
}

@media only screen and (width: 414px){
  .para{
    width: 80%;
  }
  .list{
    margin-top: 600px;
  }
}
@media only screen and (width: 375px){
  .para{
    width: 80%;
  }
  .list{
    margin-top: 600px;
  }
}
@media only screen and (width: 320px){
  .para{
    width: 80%; 
  }
  .list{
    margin-top: 700px;
  }
}



















