*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}


/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 751px;
}


/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 751px;
}


/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}


/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}


/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	opacity: 0;
}


/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../images/icons/right.png"), e-resize;
}
.prev:hover{
	cursor: url("../../images/icons/left.png"), w-resize;
}


/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -644px;
	width: 89.1%;
	height: 475px;
	color:black;
	background-color: white;
	padding: 80px 80px 80px 60px;
	opacity: .75;
	padding-left: 130px;
	font-family: 'Arimo', sans-serif;
}
.fold p{
	margin-top: 40px;
	max-width: 50% !important;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -198px;
	color: white;
	background-color: black;
	opacity: .8;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
	padding-bottom: 20px;
}

.title{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
	padding-bottom: 20px;
}


.slideshow:hover{
	cursor: url("../../images/icons/down.png"), s-resize;
}

.history1{
	width: 100%;
	height: 66%;
	margin-top: 520px !important;
}

@media only screen and (width: 2560px){
	figure, figure img{
		height: 1492px;
	}
	.title{
		margin-top: -198px;
	}
	.fold{
		width: 94.5%;
		height: 1077px;
		margin-top: -644px;
		font-size: 30px !important;
		padding-left: 190px;
	}
	.fold p{
		max-width: 50% !important;
		font-size: 29px !important;
		line-height: 48px !important;
	}
	.footer{
		margin-top: 1075px !important;	
	}
}

@media only screen and (width: 1920px) {
	figure, figure img{
		height: 1085px !important;
	}	
	.title{
		margin-top: -198px !important;
	}
	.fold{
		margin-top: -644px;
		width: 92.7%;
		height: 800px;
		font-size: 25px !important;
	}
	.fold p{
		font-size: 28px !important;
		line-height: 45px;
	}
	.footer{
		margin-top: 800px !important;
	}
}

@media only screen and (width: 1440px){
	.fold{
		margin-top: -644px;
		width: 1300px;
		height: 525px;
	}
	.fold p{
		max-width: 50% !important; 
	}
	.footer{
		margin-top: 525px !important;
	}
}

@media only screen and (width: 1366px){
	.fold{
		margin-top: -644px;
		width: 1230px;
		height: 490px;
	}
	.footer{
		margin-top: -34px !important;
	}
}

@media only screen and (width: 1080px){
	.fold{
		margin-top: -644px !important;
		width: 940px;
		height: 380px;
	}
	.fold p{
		max-width: 70% !important;
	}
	.footer{
		margin-top: -100px !important;
	}
}

@media only screen and (width: 1024px){
	.fold{
		margin-top: -644px;
		height: 420px;
	}
	.fold p{
		margin-top: -40px;
	}
	.title{
		margin-top: -198px;
	}
	.footer{
		margin-top: -64px !important;
	}
}

@media only screen and (width: 800px){
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}
	.title{
		margin-top: -44px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 380px;
		width: 660px;
		margin-top: -520px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -50px;
	}
	.footer{
		margin-top: -4px !important;
	}
}

@media only screen and (width: 768px){
	.fold{
		margin-top: -644px;
		width: 630px;
		height: 450px;
	}
	.fold p{
		margin-top: -40px;
		max-width: 100% !important;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 585px;
	}
	figure img{
		height: 414px;
	}
	.title{
		margin-top: -215px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 560px;
		width: 526px;
		margin-top: -686px;
	}
	.fold p{
		max-width: 100% !important;
		margin-top: 10px;
	}
	.footer{
		margin-top: -5px !important;
	}
}

@media only screen and (max-width: 667px) {
	.fold{
		margin-top: -730px;
		width: 568px;
		height: 325px;
		padding-left: 20px;
		padding-top: 20px;
	}
	.title{
		font-size: 20px !important;
		margin-top: -255px;
	}
	.footer{
		margin-top: -300px !important;
	}
}

@media only screen and (max-width: 568px){
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}
	.fold{
		font-size: 15px;
		margin-top: -164px;
		width: 468px;
		height: 200px;
	}
	.fold p{
		max-width: 80% !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -45px;
	}
	.footer{
		margin-top: 100px !important;
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	
	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -122px;
	}

	.fold{
		font-size: 15px;
		height: 240px;
	}
	.fold p{
		max-width: 60% !important;
	}

	.footer a{
		margin-left: 50px !important;
	}
	.footer .line{
		margin-left: 100px !important;
	}
	.footer{
		margin-top: 150px !important;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
	.fold{
		margin-top: -140px !important;
	}
	.footer a{
		margin-left: 50px !important;
	}
	.footer .line{
		margin-left: 70px !important;
	}
	.footer{
		margin-top: 185px !important;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}	
	figure img{
		height: 300px;
	}

	.fold{
		margin-top: -39px !important;
	}

	.title{
		margin-top: -44px;
	}

	.footer{
		font-size: 15px !important; 
		margin-top: 275px !important;
	}
	.footer .line{
		margin-left: 60px !important;
	}
	.footer a{
		margin-left: 25px !important;
	}
}


.footer{
	position: relative;
	color: white;
	font-size: 17px;
	background-color: black;
	width: 100%;
	height: 40px;
	cursor: pointer;
	margin-top: -40px;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 40px;
}












