*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 627px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 0;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../images/icons/right.png"), e-resize;
}
.prev:hover{
	cursor: url("../../images/icons/left.png"), w-resize;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}

.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -645px;
	width: 89.1%;
	height: 460px;
	color: black;
	background-color: white;
	padding: 80px 80px 80px 60px;
	padding-top: 100px;
	padding-left: 130px;
	opacity: .75;
}
.fold p{
	margin-top: 20px;
	max-width: 50% !important;
}

/*project history stuff*/
.history{
	font-size: 20px;
	padding-top: 40px;
}

.history1 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
}

.down{
	width: 20%;
	height: 100%;
	top: 0;
	margin-left: 40%;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../images/icons/down.png"), s-resize;
}



.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}

@media only screen and (width: 2560px){
	figure{
		height: 1366px;
	}
	figure img{
		height: 1366px;
	}
	.fold{
		width: 94.5%;
		margin-top: -1278px;
		height: 1100px;
		font-size: 30px;
		padding-left: 190px;
	}
	.fold p{
		max-width: 50% !important;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	.fold{
		margin-top: -965px;
		width: 92.7%;
		height: 785px;
		font-size: 30px;
	}
	.footer{
		margin-top: -10px !important;
	}
}

@media only screen and (width: 1440px){
	.fold{
		margin-top: -725px;
		width: 1300px;
		height: 500px;
	}
	.fold p{
		max-width: 50% !important;
	}
}

@media only screen and (width: 1366px){
	.fold{
		margin-top: -688px;
		height: 510px;
		width: 1225px;
	}
	.footer{
		margin-top: -5px !important;
	}
}

@media only screen and (width: 1080px){
	.fold{
		margin-top: -545px;
		width: 940px;
		height: 360px;
	}
	.fold p{
		max-width: 70% !important;
	}
	.footer{
		margin-top: -6px !important;
	}
}

@media only screen and (width: 1024px){
	.fold{
		margin-top: -517px;
		width: 885px;
		height: 335px;
	}

	.fold p{
		max-width: 80% !important;
	}
	.footer{
		margin-top: -6px !important;
	}
}

@media only screen and (width: 800px){
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -44px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 190px;
		width: 660px;
		margin-top: -405px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -50px !important;
	}
	.footer{
		margin-top: -30px !important;
	}
}

@media only screen and (width: 768px){
	.fold{
		margin-top: -389px;
		width: 630px;
		height: 200px;
	}
	.fold p{
		margin-top: -40px;
		max-width: 80% !important;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.title{
		margin-top: -45px;
		padding: 10px 10px 10px 10px;
    font-size: 20px !important;
	}

	.fold{
		font-size: 20px;
		height: 190px;
		width: 596px;
		margin-top: -375px;
	}
	.fold p{
		max-width: 100% !important;
		margin-top: -50px !important;
	}
	.footer{
		margin-top: -4px !important;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img {
		height: 375px;
	}
	.fold{
		margin-top: -339px;
		width: 568px;
		height: 240px;
		padding-left: 20px;
		padding-top: 20px;
		font-size: 18px;
	}
	.fold p{
		margin-top: 20px !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -44px;
	}
	.footer{
		margin-top: 0px !important;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -289px;
		font-size: 15px !important;
		width: 468px;
		height: 185px;
	}

	.fold p{
		font-size: 14px !important;
	}
	.footer{
		margin-top: -5px !important; 
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		font-size: 12px !important;
		margin-top: -212px;
		width: 314px !important;
		height: 110px !important;
	}
	.fold p{
		max-width: 90% !important;
	}

	.title{
		font-size: 20px !important;
		position: absolute;
		z-index: 2;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
		color: white;
		background-color: black;
		opacity: .8;
	}

	.footer{
		margin-top: 109px !important;
	}
	.footer a{
		margin-left: 50px !important;
	}
	.footer .line{
		margin-left: 100px !important;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
	.fold{
		margin-top: -193px;
		font-size: 10px !important;
		width: 275px !important;
		height: 91px !important;
	}
	.fold p {
		font-size: 11px !important;
	}
	.footer .line{
		margin-left: 70px !important;
	}
	.footer{
		margin-top: 85px !important;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}
	.fold{
		margin-top: -165px;
		font-size: 10px !important;
		width: 220px !important;
		height: 200px !important;
	}
	.footer{
		font-size: 15px !important; 
		margin-top: 63px !important;
	}
	.footer .line{
		margin-left: 60px !important;
	}
	.footer a{
		margin-left: 25px !important;
	}
}

.footer{
	position: relative;
	color: white;
	font-size: 17px;
	background-color: black;
	width: 100%;
	height: 40px;
	cursor: pointer;
	margin-top: -40px;
}
.footer p{
	display: inline-block;
	margin-top: 11px;
	margin-left: 20px;
}
.footer .line{
	margin-left: 35px;
}
.footer a{
	text-decoration: none;
	color: white;
	margin-left: 40px;
}



