*{
  margin: 0 !important;
}

body{
  /*background-color: papayawhip !important;*/
}

.navbar{
  margin-top: 6px !important;
  font-weight: bold;
  top: 0 !important;
  position: fixed !important;
  z-index: 9
}
.navbar a{
  color: black !important;
  text-decoration: none;
  font-size: 20px;
  padding: 17.5px;
  height: 48px;
  margin-left: -1px !important;
  margin-top: 0px !important;
  background-color: white;
}
.navbar a:hover{
  color: black;
  text-decoration: none;
}

.navbar .sblm{
  background-color: black;
  color: white !important;
  padding: 20px 45px 12px 45px !important;
}

.navbar .link{
  padding: 10px 45px 12px 45px !important;
  height: 48px;
  margin-left: -4px !important;
  margin-top: -20px !important;
}
.navbar .link:hover{
  background-color: #e4e4e4;
  color: white;
}
.dropbtn:hover{
  background-color: #e4e4e4;
}

.empt{
  height: 45px;
  width: 100%;
  background-color: white;
  z-index: 8;
  top: 0;
  position: fixed;
  margin-top: 0px;
}

.dropdown:hover .dropbtn{
  background-color: #e4e4e4;
}




.dropbtn {
  color: black;
  border: none;
  font-size: 20px;
  margin-top: -1px !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -44px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content:hover .dropbtn{
  background-color: #e4e4e4 !important;

}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /*background-color: #3e8e41;*/
}

.burger, .overlay{display: none;}


@media only screen and (max-width: 736px){
  .navbar .link{
    padding: 10px 25px 12px 25px !important;
  }

  .navbar .sblm{
    padding: 20px 45px 12px 45px !important;
  }

  .dropdown-content {
    min-width: 147px;
    margin-left: -24px !important;
  }
}

@media only screen and (width: 568px){
  .navbar a{
    font-size: 16px;
  }
  .dropbtn{
    font-size: 16px;
    padding: 8px 0px 8px 0px !important;
  }
  .dropdown-content a{
    font-size: 16px;
  }

  .empt{
    height: 39px;
  }

  .dropdown-content {
    min-width: 117px;
    margin-left: -24px !important;
  }
}

@media only screen and (max-width: 414px){
  .link{
    display: none;
  }
  .burger{
    display: block;
    color: black;
    float: right;
    margin-right: -130% !important;
    margin-top: -5% !important;
    font-size: 36px;
    z-index: 11;
  }

  .overlay{
    /*display: block;*/
    background-color: black;
    opacity: .8;
    width: 414px;
    height: 736px;
    z-index: 10;
    position: absolute;
    font-size: 44px;
    animation-name: slidein;
    animation-duration: .5s;
  }
  .overlay a{
    width: 100%;
    display: inline-block;
  }
  .overlay #x{
    float: right;
    margin-top: 3% !important;
    margin-right: 5% !important;
    cursor: pointer;
    color: white;
  }
  .overlay #link{
    margin-left: 28% !important;
    padding-bottom: 15px;
    color: white !important;
    cursor: pointer;
  }
  .overlay ul{
    list-style: none;
    font-size: 28px;
    margin-left: 20% !important;
  }
  .overlay li{
    cursor: pointer;
  }
}

@media only screen and (width: 375px){
  .burger{
    margin-right: -110% !important;
  }
  .overlay #x{
    margin-right: 12% !important;
  }
}

@media only screen and (width: 320px){
  .burger{
    margin-right: -80% !important;
  }
  .overlay #x{
    margin-right: 28% !important;
  }

  .overlay{
    font-size: 36px;
  }
  .overlay #link{
    margin-left: 20%;
  }
  .overlay li{
    font-size: 24px;
  }
  .mur{
    font-size: 23px !important;
  }
}





.out{
  animation-name: slideout;
  animation-duration: 1s;
}
@keyframes slidein{
   0% {left:-200px;}
  100%{left:0px;}
}
@keyframes slideout{
   0% {left:0px;}
  100%{left:-200px;}
}










