*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}


/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}
/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 600px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 600px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: .5;
	user-select: none;
	height: 100%;
	width: 48px;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 1;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 40px !important;
	position: absolute;
	z-index: 2;
	margin-top: -80px;
	margin-left: 80px;
	color: white;
}

.history1 {
	padding-top: 20px;
	margin-left: 20px;
}
.history1 img{
	display: block;
	float: left;
}

.history2 img{
	display: block;
	float: left;
	margin-left: 40px;
}
.history2 span{
	width: 1000px;
	margin-left: 140px;
	margin-top: 20px;
	font-size: 1.1em;
	float: left;
	text-align: center;
}

.history3 img{
	width: 100%;
	height: 600px;
	margin-top: 20px;
}

.history4 img{
	width: 49%;
	height: 500px;
	display: block;
	float: left;
}
.history5 img{
	width: 49%;
	height: 500px;
	display: block;
	float: right;
	margin-left: 20px;
}

.history6 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
}

.other{
	font-size: 1.75em;
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-left: 40px;
	margin-top: 520px;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}


/*slider at the bottom stuff*/
.carousel {
	padding-top:10px;
	background-color: black;
}


.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: black;
}

.flickity-prev-next-button.next {
	margin-top: 0px;
}


@media only screen and (min-width: 1920px) {
	figure{
		height: 1000px;
	}
	figure img{
		height: 1000px;
	}

	.project-history{
		font-size: 2em;
	}

	.history1 img{
		width: 900px;
		height: 900px;
	}

	.history2 img{
		width: 900px;
		height: 900px;
		margin-left: 80px;
	}

	.history2 span{
		width: 1700px;
		font-size: 1.5em;
		margin-left: 110px;
	}

	.history3 img {
		height: 1000px;
	}

	.history4 img,
	.history5 img{
		height: 800px;
	}

	.other{
		margin-top: 850px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.history1 img{
		width: 696px;
	}

	.history2 img{
		width: 696px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 696px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.history1 img{
		width: 627px;
	}

	.history2 img{
		width: 627px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 627px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px
	}

	.history1 img{
		width: 528px;
	}

	.history2 img{
		width: 528px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 528px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.history img{
		width: 100%
	}
	.history span{
		width: 375px;
	}

	.history1 img{
		width: 414px;
		height: 400px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 414px;
		height: 400px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 19.5px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

 	 
	.history4 img, 
	.history5 img{
		height: 400px;
		margin-top: 20px;
	}

	.other{
		margin-top: 880px;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.history img{
		width: 100%;
	}

	.history span{
		width: 320px;
	}

	.history1 img{
		width: 375px;
		height: 400px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 375px;
		height: 400px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 27.5px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

	.history4 img, 
	.history5 img{
		height: 400px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 290px;
	}
	figure img{
		height: 290px;
	}

	.history img{
		width: 100%;
	}

	.history span{
		width: 290px;
	}

	.history1 img{
		width: 320px;
		height: 300px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 320px;
		height: 300px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 15px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

	.history4 img, 
	.history5 img{
		height: 300px;
		margin-top: 20px;
	}
}

