*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}

.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}

figure img {
	width: 100%;
	height: 627px;
}

figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

.next:hover, .prev:hover {
	opacity: 0;
}
                                                                                  
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}

.expand{
	position: relative;
	font-size: 30px;
	float: right;
	cursor: pointer;
	color: white;
	z-index: 3;
	margin-top: -620px;
	margin-right: 40px;
}
.fold{
	display: none;
	position: absolute;
	font-size: 20px;
	margin-top: -684px;
	width: 1140px;
	height: 520px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	opacity: .9;
}

.history1 {
	padding-top: 20px;
	margin-left: 20px;
}
.history1 img{
	display: block;
	float: left;
}

.history2 img{
	display: block;
	float: left;
	margin-left: 40px;
}
.history2 span{
	width: 1000px;
	margin-left: 140px;
	margin-top: 20px;
	font-size: 20px;
	float: left;
	text-align: center;
}

.history3 img{
	width: 100%;
	height: 600px;
	margin-top: 20px;
}

.history4 img{
	width: 49%;
	height: 500px;
	display: block;
	float: left;
}
.history5 img{
	width: 49%;
	height: 500px;
	display: block;
	float: right;
	margin-left: 20px;
}

.history6 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
}


.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), wait;
}

.other{
	font-size: 1.75em;
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-left: 40px;
	margin-top: 520px;

}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}



@media only screen and (min-width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	.expand{
		margin-top: -950px;
	}
	.fold{
		margin-top: -1044px;
		width: 1780px;
		height: 880px;
	}

	.project-history{
		font-size: 2em;
	}

	.history1 img{
		width: 900px;
		height: 900px;
	}

	.history2 img{
		width: 900px;
		height: 900px;
		margin-left: 80px;
	}

	.history2 span{
		width: 1700px;
		font-size: 1.5em;
		margin-left: 110px;
	}

	.history3 img {
		height: 1000px;
	}

	.history4 img,
	.history5 img{
		height: 800px;
	}

	.other{
		margin-top: 805px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.expand{
		margin-top: -360px;
	}
	.fold{
		font-size: 20px;
		height: 214px;
		width: 596px;
		margin-top: -378px;
	}


	.history1 img{
		width: 696px;
	}

	.history2 img{
		width: 696px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 696px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.expand{
		margin-top: -320px;
		margin-right: 20px;
	}
	.fold{
		margin-top: -339px;
		width: 568px;
		height: 235px;
		padding-left: 20px;
		padding-top: 20px;
	}

	.history1 img{
		width: 627px;
	}

	.history2 img{
		width: 627px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 627px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px
	}

	.expand{
		margin-top: -270px;
		font-size: 20px;
	}
	.fold{
		margin-top: -284px;
		width: 468px;
		height: 180px;
	}

	.history1 img{
		width: 528px;
	}

	.history2 img{
		width: 528px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.history2 span{
		width: 528px;
		margin-left: 20px;
	}

	.history4 img{
		width: 100%;
		margin-top: 20px;
	}
	.history5 img{
		width: 100%;
		margin-top: 20px;
	}

	.other{
		margin-top: 1080px;
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.expand{
		margin-top: -190px;
	}
	.fold{
		font-size: 12px !important;
		margin-top: -197px;
		width: 314px !important;
		height: 93px !important;
	}

	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
	}

	.history img{
		width: 100%
	}
	.history span{
		width: 375px;
	}

	.history1 img{
		width: 414px;
		height: 400px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 414px;
		height: 400px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 19.5px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

 	 
	.history4 img, 
	.history5 img{
		height: 400px;
		margin-top: 20px;
	}

	.other{
		margin-top: 880px;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.expand{
		margin-top: -170px;
	}
	.fold{
		margin-top: -175px;
		width: 275px !important;
		height: 71px !important;
	}

	.history img{
		width: 100%;
	}

	.history span{
		width: 320px;
	}

	.history1 img{
		width: 375px;
		height: 400px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 375px;
		height: 400px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 27.5px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

	.history4 img, 
	.history5 img{
		height: 400px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 290px;
	}
	figure img{
		height: 290px;
	}

	.expand{
		margin-top: -130px;
	}
	.fold{
		margin-top: -144px;
		font-size: 10px !important;
		width: 220px !important;
		height: 40px !important;
	}

	.history img{
		width: 100%;
	}

	.history span{
		width: 290px;
	}

	.history1 img{
		width: 320px;
		height: 300px;
		float: left;
		margin-left: -20px;
	}

	.history2 img{
		width: 320px;
		height: 300px;
		float: left;
		margin-top: 20px;
		margin-left: 0px;
	}
	.history2 span{
		margin-left: 15px;
		text-align: left;
	}

	.history3 img{
		height: 300px;
		margin-top: 20px;
	}

	.history4 img, 
	.history5 img{
		height: 300px;
		margin-top: 20px;
	}
}

.fold {
  -webkit-animation: fadein 2000ms linear both;
        animation: fadein 2000ms linear both;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}


.away{
	-webkit-animation: GoAway 1000ms linear both;
        	animation: GoAway 1000ms linear both;
}

@-webkit-keyframes GoAway {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes GoAway {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}