*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
}


/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

/*.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}*/

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 627px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 0;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


.title{
	font-size: 40px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -87px;
	color: white;
	background-color: black;
	opacity: .8;
}

/*project history stuff*/
.history { 
	padding-top: 40px;
}
.history1 img {
	padding-left: 20px;
}
.history span{
	font-size: 1.25em;
}
.history1 span {
	font-size: 1.25em;
	width: 400px;
	float: right;
	margin-right: 120px;
	margin-top: 100px;
}

.history2 img {
	float: right;
}
.history2 span {
	font-size: 1.25em;
	width: 400px;
	float: left;
	margin-left: 100px;
	margin-top: 200px;
}

.history3 img {
	padding-left: 20px;
	margin-top: 450px;
}

.history4 img {
	position: absolute;
	margin-left: 425px;
	margin-top: -504px !important;
}
.history4 span {
	font-size: 1.25em;
	width: 300px;
	float: right;
	margin-right: 80px;
	margin-top: -350px;
}

.history5 img {
	margin-left: 85px;
}
.history5 span{
	font-size: 1.25em;
	width: 300px;
	float: left;
	margin-left: 40px;
	margin-top: 150px;
}

.history6 img {
	position: absolute;
	margin-left: 830px;
	margin-top: -504px;
}

.history7 img{
	width: 100%;
	/*padding-top: 20px;*/
	margin-top: 5px;
}


.history8 img{
	width: 100%;
	height: 66%;
	padding-bottom: 20px;
	margin-top: -40px;
}
.history8 span{
	width: 500px;
	position: absolute;
	margin-top: -650px;
	margin-left: 700px;
	color: white !important;
	background-color: black;
	padding: 40px 40px 40px 40px;
}
.expand{
	float: right;
	cursor: pointer;
}
.history9{
	display: none;
	color: black;
	width: 500px;
	position: absolute;
	margin-top: -430px;
	margin-left: 700px;
	color: white !important;
	background-color: white;
	padding: 40px 40px 40px 40px;
}
.history9 span{
	color: black;
}

.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), wait;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}

/*team stuff*/
#team{
	background-color: rgb(38,38,38);
	margin-top: -5px;
	padding-left: 120px;
	color: white;
}
.team{
	background-color: rgb(38,38,38) !important;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.team1 img{
	padding-left: 60%;
	margin-top: -100px;
	padding-bottom: 60px;
}
.team1 span, .team1 p{
	padding-left: 10%;
	font-size: 1.3em;
}


/*detail stuff*/
.details {
	padding-top: 40px;
	padding-left: 120px;
	padding-bottom: 40px;
	background-color: rgb(24,23,23);
	color: white;
}
.stat {
	width: 300px;
	padding-bottom: 20px;
	font-size: 1.5em;
}


.other{
	font-size: 1.75em;
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-left: 40px;
}



/*slider at the bottom stuff*/
.carousel {
	padding-top:10px;
	background-color: black;
}

.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: black;
}

.flickity-prev-next-button.next {
	margin-top: 0px;
}





@media only screen and (min-width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	.history span{
		font-size: 1.75em;
	}
	
	.history1 img{
		width: 800px;
		height: 600px;
	}
	.history1 span{
		width: 500px;
		margin-right: 420px;
	}

	.history2 img{
		width: 900px;
		height: 1000px;
	} 
	.history2 span{
		margin-left: 300px;
		margin-top: 500px;
	}

	.history3 img, .history4 img, 
	.history5 img, .history6 img{
		width: 600px;
		height: 700px;
	}
	.history3 img{
		margin-top: 450px;
	}
	.history4 img{
		position: absolute !important;
		margin-top: -704px !important;
		margin-left: 630px !important;
	}
	.history4 span{
		width: 400px;
		margin-right: 150px; 
		margin-top: -500px !important;
	}
	.history5 img{
		margin-left: 130px; 
	}
	.history5 span{
		width: 400px;
		margin-left: 100px;
	}
	.history6 img{
		position: absolute;
		margin-left: 1240px !important;
		margin-top: -704px;
	}

	.history7 img{
		height: 1000px;
	}

	.history8 img{
		width: 100%;
		height: 66%;
		padding-bottom: 20px;
		margin-top: -40px;
	}
	.history8 span{
		width: 800px;
		position: absolute;
		margin-top: -850px;
		margin-left: 900px;
		color: white !important;
		background-color: black;
		padding: 40px 40px 40px 40px;
	}
	.expand{
		float: right;
	}
	.history9{
		display: none;
		color: black;
		width: 800px;
		position: absolute;
		margin-top: -570px;
		margin-left: 900px;
		color: white !important;
		background-color: white;
		padding: 40px 40px 40px 40px;
	}
	.history9 span{
		color: black;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.history1 img{
		width: 696px;
	}
	.history1 span{
		width: 696px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history2 img{
		width: 696px;
		margin-top: 20px;
		margin-right: 20px;
	}
	.history2 span{
		width: 696px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: center;
	}

	.history3 img{
		width: 328px;
		margin-top: 20px;
	}

	.history4 img{
		width: 328px;
		margin-left: 388px;
	}
	.history4 span{
		width: 696px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history5 img{
		width: 328px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.history5 span{
		width: 696px;
		margin-top: 20px;
	}

	.history6 img{
		width: 328px;
		 margin-left: -350px;
	}

 	.history7 img{
 		width: 696px;
 		margin-left: 20px;
	}

	#team{
		margin-left: -115px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	
	.history1 img{
		width: 627px;
	}
	.history1 span{
		width: 627px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history2 img{
		width: 627px;
		margin-top: 20px;
		margin-right: 20px;
	}
	.history2 span{
		width: 627px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: center;
	}

	.history3 img{
		width: 293.5px;
		margin-top: 20px;
	}

	.history4 img{
		width: 293.5px;
		margin-left: 352px;
	}
	.history4 span{
		width: 627px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history5 img{
		width: 293.5px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.history5 span{
		width: 627px;
		margin-top: 20px;
	}

	.history6 img{
		width: 293.5px;
		 margin-left: -315px;
	}

 	.history7 img{
 		width: 627px;
 		margin-left: 20px;
	}

	#team{
		margin-left: -115px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.history1 img{
		width: 528px;
	}
	.history1 span{
		width: 528px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history2 img{
		width: 528px;
		margin-top: 20px;
		margin-right: 20px;
	}
	.history2 span{
		width: 528px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: center;
	}

	.history3 img{
		width: 244px;
		margin-top: 20px;
	}

	.history4 img{
		width: 244px;
		margin-left: 302px;
	}
	.history4 span{
		width: 528px;
		margin-top: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.history5 img{
		width: 244px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.history5 span{
		width: 528px;
		margin-top: 20px;
		margin-left: 20px;
		text-align: center;
	}

	.history6 img{
		width: 244px;
		 margin-left: -265px;
	}

 	.history7 img{
 		width: 528px;
 		margin-left: 20px;
	}

}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
	}

	.history img{
		width: 100%;
	}

	.history1 img{
		margin-left: -19px;
	}
	.history1 span{
		font-size: 1.1em;
		position: absolute;
		width: 375px;
		margin-left: 25px !important;
		margin-top: 30px;
	}

	.history2 img{
		margin-top: 200px;
		margin-right: 0px;
	}
	.history2 span{
		position: absolute;
		font-size: 1.1em;
		width: 375px;
		margin-left: 25px !important;
		margin-top: 930px;
	}

	.history3 img{
		margin-top: 120px;
		margin-left: -20px;
	}
	.history4 img{
		width: 414px;
		margin-left: 0px !important;
		margin-top: 0px !important;
	}
	.history4 span{
		color:red:;
		margin-top: 520px;
		font-size: 1.1em;
		width: 375px;
		position: absolute;
		margin-left: 20px !important;
	}

	.history5 img{
		margin-top: 650px;
		margin-left: 0px;
	}
	.history5 span{
		margin-top: 520px;
		width: 375px;
		font-size: 1.1em;
		margin-left: 25px;
	}
	.history6 img{
		margin-top: 0px;
		margin-left: -400px;
	}
	.history7 img{
		margin-left: 0px !important;
		margin-top: 0px;
		height: 300px;
	}

	#team{
		margin-top: 20px;
		margin-left: -115px;
	}
	.team1 p{
		font-size: 1em;
	}
	.team1 img{
		width: 200px;
		height: 200px;
		padding-left: 60px;
		padding-top: 180px;
	}
	.details{
		padding-left: 40px;
	}
	.stat{
		font-size: 1em;
	}

	.flickity-prev-next-button.next {
		display: none;
	}
	.flickity-prev-next-button {
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.history1 img{
		height: 300px;
	}
	.history1 span{
		width: 320px;
		margin-left: 30px !important;
		margin-top: 15px;
	}

	.history2 span{
		width: 320px;
		margin-left: 30px !important;
		margin-top: 915px;
	}

	.history4 img{
		width: 375px;
	}
	.history4 span{
		width: 320px;
		margin-left: 30px !important;
	}

	.history5 span{
		width: 320px;
		margin-left: 30px !important;
	}

	.history6 img{
		margin-left: -350px;
	}

	.team1{
		padding-left: 30px;
		padding-bottom: 20px;
	}
}


@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

	.history1 span{
		width: 250px;
		font-size: 1em;
	}

	.history2 img{
		margin-top: 225px;
	}
	.history2 span{
		width: 250px;
		font-size: 1em;
		margin-top: 935px;
	}

	.history4 img{
		width: 320px;
	}
	.history4 span{
		width: 250px;
		font-size: 1em;
		margin-top: 510px;
	}

	.history5 span{
		width: 250px;
		font-size: 1em;
	}

	.history6 img{
		margin-left: -280px;
	}

	.team1{
		width: 275px;
		padding-left: 22.5px;
	}
	.team1 img{
		padding-left: 40px;
	}
	.details {
		padding-left: 10px;
	}
}



.animation-element {
  opacity: 0;
  position: relative;
}


.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.fade-in {
	opacity: 0;
	-moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.fade-in.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


.animation-element.slide-up{
	opacity: 0;
	-moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.slide-up.in-view{
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
