/*match the nav bar*/
body {
  background:black;
  font-family: 'Roboto', sans-serif;
}


* { 
  box-sizing: border-box; 
}



/* ---- grid ---- */

.grid {
	padding-top: 100px;
  background: black;
/*  margin-left: 40px;
  margin-right: 10px;*/
  -webkit-animation: fadein 4000ms linear both;
          animation: fadein 4000ms linear both;
}
.grid img{
  /*filter: grayscale(100%);*/
  display: inline-block;
  margin: 0 auto;
}

/*transition*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  margin-top: -4px;
}

.small{
  width: 200px;
  height: 200px;
  margin-top: 0px;
}
.width{
  width: 400px;
  height: 200px;
  margin-top: 0px;
}
.height{
  width: 200px;
  height: 400px;
  margin-top: 0px;
}
.big{
  width: 400px;
  height: 400px;
  margin-top: 0px;
}

.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content{
  width: 400px;
  height: 400px;
}

.grid-item.is-expanded,
.grid-item.is-expanded .small{
  width: 400px;
  height: 400px;
}

.grid-item.is-expanded,
.grid-item.is-expanded .width{
  width: 800px;
  height: 400px;
}

.grid-item.is-expanded,
.grid-item.is-expanded .height{
  width: 400px;
  height: 800px;
}

.grid-item.is-expanded,
.grid-item.is-expanded .big{
  width: 800px;
  height: 800px;
}


.grid-item.is-expanded {
  z-index: 2;
}


@media only screen and (min-width: 1920px) {
}
/*@media only screen and (min-width: 1280px) {

  .small{
    width: 160px;
    height: 160px;
  }
  .width{
    width: 320px;
    height: 160px;
  }
  .height{
    width: 160px;
    height: 320px;
  }
  .big{
    width: 320px;
    height: 320px;
  }
}*/

/*Iphone 6 and 6 plus*/
@media only screen and (max-width: 414px) {
  .grid-item {
    margin-left: 17px;
  /*float: left;*/
  /*border: 1px solid white;*/
    margin-top: -4px;
  }
  .small{
    width: 150px;
    height: 150px;
  }
  .width{
    width: 300px;
    height: 150px;
  }
  .height{
    width: 150px;
    height: 300px;
  }
  .big{
    width: 300px;
    height: 300px;
  }

  .grid-item.is-expanded,
  .grid-item.is-expanded .grid-item-content{
    width: 150px;
    height: 150px;
  }

  .grid-item.is-expanded,
  .grid-item.is-expanded .small{
    width: 150px;
    height: 150px;
  }

  .grid-item.is-expanded,
  .grid-item.is-expanded .width{
    width: 300px;
    height: 150px;
  }

  .grid-item.is-expanded,
  .grid-item.is-expanded .height{
    width: 150px;
    height: 300px;
  }

  .grid-item.is-expanded,
  .grid-item.is-expanded .big{
    width: 300px;
    height: 300px;
  }

  .grid-item.is-expanded {
  z-index: 2;
  }
}

@media only screen and (max-width: 375px) {
  .grid {
    margin-left: 35px;
  }
  .grid-item {
    float: left;
/*    border: 1px solid;
    border-color: white;*/
  }
  .small{
    width: 175px;
    height: 175px
  }
  .width{
    width: 350px;
    height: 175px;
  }
  .height{
    width: 175px;
    height: 350px;
  }
  .big{
    width: 350px;
    height: 350px;
  }


}

/*Iphone 5 responsive*/
@media only screen and (max-width: 320px) {
  .grid {
    margin-left: 10px;
  }
  .grid-item {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-color: white;
  }
  .grid-item--width2 { 
    width: 300px; 
  }
  .grid-item--height2 { 
    height: 300px; 
  }
}











