/*match the nav bar*/
body {
  background:black;
  font-family: 'Roboto', sans-serif;
}


* { 
  box-sizing: border-box; 
}



/* ---- grid ---- */

.grid {
	padding-top: 100px;
  background: black;
  margin-left: 40px;
  margin-right: 10px;
  -webkit-animation: fadein 4000ms linear both;
          animation: fadein 4000ms linear both;
}
.grid img{
  filter: grayscale(100%);
}

/*transition*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  /*border: 1px solid;*/
  /*border-color: white;*/
}

.grid-item--width2 { width: 400px; }
.grid-item--height2 { height: 400px; }



#myImg:hover, 
#myImg2:hover,
#myImg3:hover,
#myImg4:hover,
#myImg5:hover,
#myImg6:hover,
#myImg7:hover,
#myImg8:hover,
#myImg9:hover,
#myImg10:hover,
#myImg11:hover,
#myImg12:hover,
#myImg13:hover,
#myImg14:hover,
#myImg15:hover,
#myImg16:hover,
#myImg17:hover,
#myImg18:hover {
	filter: grayscale(0%);
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*Iphone 6 and 6 plus*/
@media only screen and (max-width: 414px) {
  .grid-item {
  float: left;
  width: 175px;
  height: 175px;
  border: 1px solid;
  border-color: white;
  }
  .grid-item--width2 { 
    width: 350px; 
  }
  .grid-item--height2 { 
    height: 350px; 
  }
}

@media only screen and (max-width: 375px) {
  .grid {
    margin-left: 35 spx;
  }
  .grid-item {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-color: white;
  }
  .grid-item--width2 {
    width: 300px;
  }
  .grid-item--height2 {
    height: 300px; 
  }
}

/*Iphone 5 responsive*/
@media only screen and (max-width: 320px) {
  .grid {
    margin-left: 10px;
  }
  .grid-item {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-color: white;
  }
  .grid-item--width2 { 
    width: 300px; 
  }
  .grid-item--height2 { 
    height: 300px; 
  }
}











