body {
  background-color: white;
  font-family: 'Roboto', sans-serif !important;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}


.navbar .link{
  /*font-family: 'Roboto', sans-serif !important;*/
}
.empt{
  margin-top: -3px !important;
}
div.dropdown.link{
  height: 24px !important;
}


.main{
  margin-top: 100px !important;
}
.main #box{
  display: inline-flex !important;
  margin-left: 5% !important;
  overflow: hidden;
  padding-bottom: 50px;
}
.main #box img{
  width: 40%;
  height: 40%;
}
.main #box p{
  width: 30% !important;
  position: initial !important;
  margin-left: 5% !important;
  margin-top: 2% !important;
  overflow: hidden !important;
}
.main #box a{
  color: red;
}












