*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}


/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}

/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 627px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 0;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 40px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -87px;
	color: white;
	background-color: black;
	opacity: .8;
}

.expand{
	position: relative;
	font-size: 30px;
	float: right;
	cursor: pointer;
	color: white;
	z-index: 3;
	margin-top: -650px;
	margin-right: 40px;
}
.fold{
	display: none;
	position: absolute;
	font-size: 40px;
	margin-top: -745px;
	width: 1140px;
	height: 520px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	padding-top: 120px;
	opacity: .9;
}


/*project history stuff*/
.history{
	padding-top: 40px;
	font-size: 1.25em;
}


.history1 img{
	padding-left: 20px;
}
.history1 span{
	width: 400px;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}

.history2 img{
	float: right;
	padding-right: 20px;
}
.history2 span{
	float: left;
	margin-left: 150px;
	margin-top: 100px;
	width: 400px;
}

.history3 img{
	padding-left: 20px;
	margin-top: 100px;
}

.history4 img{
	width: 100%;
	height: 600px;
	margin-top: 40px;
}

.history5 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
	padding-bottom: 20px;
}

.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), wait;
}

.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}



@media only screen and (min-width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	.expand{
		margin-top: -1000px;
	}
	.fold{
		margin-top: -1105px;
		width: 1780px;
		height: 880px;
	}


	.history span{
		font-size: 1.5em;
	}

	.history1 img{
		width: 900px;
		height: 700px;
		padding-left: 60px;
	}
	.history1 span{
		margin-top: 100px;
		margin-right: 200px;
		width: 500px;
	}

	.history2 img{
		width: 700px;
		height: 900px;
		padding-right: 100px;
	}
	.history2 span{
		margin-top: 140px;
		margin-left: 200px;
		width: 500px;
	}

	.history3 img{
		width: 900px;
		height: 800px;
		padding-left: 60px;
	}
 	
 	.history4 img{
 		height: 800px;
	}
}

@media only  screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.expand{
		margin-top: -400px;
	}
	.fold{
		font-size: 20px;
		height: 294px;
		width: 596px;
		margin-top: -439px;
		padding-top: 40px;
	}

	.history1 img{
		width: 696px;
		padding-left: 0px;
		margin-left: 20px;
	}
	.history1 span{
		width: 696px;
		margin-right: 20px;
		margin-top: 20px;
		text-align: center;
	}

	.history2 img{
		width: 696px;
		padding-right: 0px;
		margin-right: 20px;
	}
	.history2 span{
		width: 696px;
		margin-left: 20px;
		margin-top: 20px;
		text-align: center;
	}

	.history3 img{
		width: 696px;
		padding-left: 0px;
		margin-left: 20px;
		margin-top: 20px;
	}

	.history4 img {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.expand{
		margin-top: -370px;
	}
	.fold{
		margin-top: -400px;
		width: 568px;
		height: 275px;
		padding-left: 20px;
		padding-top: 20px;
	}

	.history1 img{
		width: 627px;
		padding-left: 0px;
		margin-left: 20px;
	}
	.history1 span{
		width: 627px;
		margin-right: 20px;
		margin-top: 20px;
		text-align: center;
		padding-bottom: 20px;
	}

	.history2 img{
		width: 627px;
		padding-right: 0px;
		margin-right: 20px;
	}
	.history2 span{
		width: 627px;
		margin-left: 20px;
		margin-top: 20px;
		text-align: center;
	}

	.history3 img{
		width: 627px;
		padding-left: 0px;
		margin-left: 20px;
		margin-top: 20px;
	}

	.history4 img {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.expand{
		margin-top: -310px;
		font-size: 20px;
		margin-right: 20px;
	}
	.fold{
		margin-top: -345px;
		width: 468px;
		height: 220px;
	}
	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}

	.history1 img{
		width: 528px;
		padding-left: 0px;
		margin-left: 20px;
	}
	.history1 span{
		width: 528px;
		margin-right: 20px;
		margin-top: 20px;
		text-align: center;
		padding-bottom: 20px;
	}

	.history2 img{
		width: 528px;
		padding-right: 0px;
		margin-right: 20px
	}
	.history2 span{
		width: 528px;
		margin-left: 20px;
		margin-top: 20px;
		text-align: center;
	}

	.history3 img{
		width: 528px;
		padding-left: 0px;
		margin-left: 20px;
		margin-top: 20px;
	}

	.history4 img {
		margin-top: 20px;
	}
}


@media only screen and (max-width: 414px) {
	figure{
		height: 375px
	}
	figure img{
		height: 375px;
	}


	.expand{
		margin-top: -230px;
	}
	.fold{
		font-size: 12px !important;
		margin-top: -258px;
		width: 314px !important;
		height: 133px !important;
	}

	.title{
		font-size: 20px !important;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
	}

	.history img{
		width: 100%;
	}
	.history span{
		width: 375px;
		font-size: 1em;
	}

	.history1 img{
		padding-left: 0px;
		height: 400px;
		margin-left: 0px;
	}
	.history1 span{
		margin-top: 20px;
		margin-right: 15px;
	}

	.history2 img{
		padding-right: 0px;
		margin-top: 20px;
		margin-right: 0px;
	}
	.history2 span{
		margin-top: 20px;
		margin-left: 19.5px;
	}

	.history3 img{
		padding-left: 0px;
		margin-top: 20px;
		height: 400px;
		margin-left: 0px;
	}

	.history4 img{
		margin-top: 20px;
		height: 400px;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}

	.expand{
		margin-top: -210px;
	}
	.fold{
		margin-top: -236px;
		width: 275px !important;
		height: 111px !important;
	}

	.history span{
		width: 320px;
	}

	.history1 img,
	.history3 img{
		height: 300px;
	}

	.history1 span{
		margin-right: 10px;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}

	.expand{
		margin-top: -180px;
	}
	.fold{
		margin-top: -205px;
		font-size: 10px !important;
		width: 220px !important;
		height: 80px !important;
	}

	.history span{
		width: 290px;
		font-size: .9em;
	}
}


.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.fade-in {
	opacity: 0;
	-moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.fade-in.in-view {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}



.fold {
  -webkit-animation: fadein 2000ms linear both;
        animation: fadein 2000ms linear both;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}




