body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.topnav{
  height: 55px;
}
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 7px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-decoration: none;
  transition: .5s;
  font-size: 20px;
  /*background-color: white;*/
}

/*filter*/
.filter a {
  padding: 10px;
  display:inline-block;
  color: #333;
  background-color: #e4e4e4;
  text-decoration:none;
  transition:all 0.5s;
  font-size: 12.4px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: -40px;
  margin-top: 8px !important;
  overflow: hidden;
}

.filter a:hover {
  background-color: white;
  color: black;
}
#retail{
  margin-left: 36px;
}
#mixed{
  margin-left: 36px;
}
#civic{
  margin-left: 36px;
}
#health{
  margin-left: 36px;
}

.filter {
  padding-top: 46px;
  background-color: #e4e4e4 !important;
  overflow: hidden;
  margin-top: -10px;
  border-top: solid 1px #ccc;
  margin-left: -45px;
  height: 43px
}



/*project styling*/
.wrap {
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxInner {
  position: absolute;
  overflow: hidden;
  height: 100%;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  border: 2.5px solid white;
  background-color: white;
}

.boxInner img { 
  opacity: .25;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  backface-visibility: hidden;
  /*-webkit-filter: grayscale(100%);*/
}

.boxInner :hover{
  opacity: 1 !important;
}

.text:hover{
  opacity: 1 !important;
}


.notgray:hover{
  opacity: 1 !important;
}

.notgray{
  /*filter: grayscale(0%) !important;*/
  opacity: 1 !important;
}




.middle {
  transition: 0s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

/*.boxInner:hover img {
  opacity: 0.175;
}*/
/*.boxInner:hover {
  background-color: black;
}*/

.boxInner:hover .middle {
  color:black;
  opacity: 1;
}

a {
  text-decoration: none;
  color: #333;
}

.text { 
  white-space: nowrap;
  font-size: 32px;
  -webkit-animation: fadein 3000ms linear both;
          animation: fadein 3000ms linear both;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (width: 2560px){
  #all{
    margin-left: 2100px;
  }
  .box{
    width: 508.6px;
  }
  .boxInner{
    width: 508.6px;
  }
  .filter a{
    font-size: 16px;
  }
  .filter{
    height: 48px;
  }
  #education{
    margin-left: 45px;
  }
  #retail, #mixed,
  #civic, #health{
    margin-left: 37px;
  }
}

@media only screen and (width: 1920px) {
  .filter a{
    font-size: 15px;
  }
  .filter{
    height: 43px;
    padding-top: 46px;
    margin-left: -40px;
  }
  #retail, #mixed,
  #civic, #health{
    margin-left: 36px !important;
  }
  .boxInner{
    border: solid 2.5px white !important;
  }
}

@media only screen and (max-width: 736px) {
  .filter{
    height: 39px;
  }
  #all{
    margin-left: 320px;
  }
  .text{
    font-size: 22px;
  }
  .box{
    height: 184px;
    width: 184px;
  }
  .boxInner{
    height: 184px;
    width: 184px;
  }
  div.box.first{
    height: 184px;
    width: 184px;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 667px) {
  .icon{
    margin-top: 10px;
  }
  #all{
    margin-left: 255px;
  }
  .text{
    font-size: 24px;
  }
  .box{
    height: 222.25px;
    width: 222.25px;
  }
  .boxInner{
    height: 222.25px;
    width: 222.25px;
  }
  div.box.first{
    height: 222.25px;
    width: 222.25px;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 568px){
  #all{
    margin-left: 160px;
  }
  .text{
    font-size: 20px;
  }
  .icon{
    margin-top: 10px;
  }
  .box{
    height: 189.3px;
    width: 189.3px;
  }
  .boxInner{
    height: 189.3px;
    width: 189.3px;
  }
  div.box.first{
    height: 189.3px;
    width: 189.3px;
    padding-bottom: 0%;
  }
}


/*mobile responsiveness*/
@media only screen and (max-width: 414px) {
/*  .boxInner{
    width: 100%;
  }*/
  .module{
    display: none;
  }
  .project{
    margin-left: 50px;
  }
  .sblm{
    width: 74px;
  }
  .filter{
    padding-bottom: 9px !important;
  }
  .filter a{
    font-size: 17px !important;
  }
  .box{
    height: 207px;
    width: 207px;
  }
  .boxInner{
    height: 207px;
    width: 207px;
  }
  div.box.first{
    height: 207px;
    width: 207px;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 375px) {
  .project{
    margin-left: 40px;
  }
  .icon{
    margin-top: 10px;
  }
  .filter{
    padding-bottom: 8px !important;
    height: 38px;
  }
  .filter a{
    font-size: 14.75px !important;
  }
  .box{
    height: 187.5px;
    width: 187.5px;
  }
  .boxInner{
    height: 187.5px;
    width: 187.5px;
  }
  div.box.first{
    height: 187.5px;
    width: 187.5px;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 320px) {
  .project {
    margin-left: 25px;
  }
  .filter{
    padding-bottom: 5px !important;
  }
  .filter a{
    font-size: 11.68px !important;
  }
  .box{
    height: 160px;
    width: 160px;
  }
  .boxInner{
    height: 160px;
    width: 160px;
  }
  div.box.first{
    height: 160px;
    width: 160px;
    padding-bottom: 0%;
  }
}




@media only screen and (max-width:480px) { 
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width:650px) and (min-width:481px) { 
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}

.filter #view{
  float: right;
  margin-right: 40px;
  display: none;
}
.filter #list{
  float: right;
  display: none;
}
.filter #list:hover{
  background-color: #212121;
  color: white;
}
.filter #thumbnail{
  float: right;
  display: none;
}
.filter #filterby:hover{
  background-color: #212121;
  color: white;
}

table{
  padding-top: 50px;
  color: white;
  display: none;
  margin-left: 50px;
  border-collapse: collapse;
}

.tableTitle th:nth-child(2){
}

.tableTitle th{
  padding-bottom: 20px;
  text-align: center;
}
.tableTitle td:nth-child(2),
.tableTitle td:nth-child(3){
  padding-left: 40px;
}

.tile{
  text-align: left;
}
.tile:hover{
  background-color: #ee3b2c;
}
td{
  height: 30px;
  border-bottom: 1px solid white;
}
.tile td:nth-child(2),
.tile td:nth-child(3){
  padding-left: 40px;
}

table{
  display: none;
}
.wrap{
  /*display: none;*/
}


#view, #thumbnail, #list{
  display: none;
}





