body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*for the off white pattern*/
.module {
  background: #ccc;
  padding-top: 48px;
}

.module > h2 {
  padding: 1rem;
  margin:0 0 0.5rem 0;
}
.stripe {
  text-align: center;
  /*align-content: center;*/
  font-size: 36px;
/*  background: -webkit-repeating-linear-gradient(90deg, white, white 20px, black 20px, black 40px);
  background: repeating-linear-gradient(90deg, white, white 20px, black 20px, black 40px);*/
}
p.text{
  color:white;
  margin-top: 30px !important;
  padding: 10px;
  width: 40%;
  /*text-align: center;*/
  /*margin: auto;*/
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

p i{
  font-size: 80%;
  width: 40%;
}


/*filter*/
.filter a {
  padding: 10px;
  display:inline-block;
  color:white;
  background:black;
  text-decoration:none;
  transition:all 0.5s;
  cursor: pointer;
  margin-left: 40px;
  margin-right: -40px;

}

.filter a:hover {
  background:#8ad;
}

.filter {
  /*padding-top:50px;*/
  background-color: black;
  overflow: hidden;
  margin-top: -10px;
}



/*project styling*/
.wrap {
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.boxInner {
  position: absolute;
  overflow: hidden;
  height: 100%;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.boxInner img { 
  filter: grayscale(100%);
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  backface-visibility: hidden; 
}

.middle {
  transition: 0s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.boxInner:hover img {
  opacity: 0.175;
}
.boxInner:hover {
  background-color: black;
}

.boxInner:hover .middle {
  color:black;
  opacity: 1;
}

a {
  text-decoration: none;
  color: white;
}

.text { 
  white-space: nowrap;
  font-size: 32px;
  -webkit-animation: fadein 3000ms linear both;
          animation: fadein 3000ms linear both;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}



/*mobile responsiveness*/
@media only screen and (max-width: 414px) {
  .module{
    display: none;
  }
  .wrap{
    padding-top: 52px;
  }
  .project{
    padding-top: 60px;
    margin-left: 50px;
  }

  .filter{
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .wrap{
    padding-top: 51px;
  }
  .project{
    padding-top: 60px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .wrap{
    padding-top: 51px;
  }
  .project {
    margin-left: 25px;
  }
  #education {
    margin-left: 8px;
  }
}





@media only screen and (max-width:480px) { 
  /* Smartphone view: 1 tile */
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width:650px) and (min-width:481px) { 
  /* Tablet view: 2 tiles */
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width:1050px) and (min-width:651px) { 
  /* Small desktop / ipad view: 3 tiles */
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width:1290px) and (min-width:1051px) { 
  /* Medium desktop: 4 tiles */
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}



