*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

#work{
  margin-left: 60px;
}
#contact{
  margin-left: 60px;
}

/*makes the images stack upon one another*/
.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

/*makes the slideshow width fit the screen and height, also the transition speed 
and how opaque the image can be*/
figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}
/*image is the same height and width of slideshow aka no whitespace*/
figure img {
	width: 100%;
	height: 627px;
}

/*first image when shown has a little flash 
to inidicate its the first one*/
figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

/*styling the toggles to go next or right*/
.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

/*when hovering, the cursor changes along with the opaquness*/
.next:hover, .prev:hover {
	/*cursor: pointer;*/
	opacity: 0;
}

/*position styling for next and also making the edges smooth*/
.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

/*position styling for prev and also making the edges smooth*/
.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 28px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -73px;
	color: white;
	background-color: black;
	opacity: .8;
}

.fold{
	position: absolute;
	font-size: 20px;
	margin-top: -645px;
	width: 89.1%;
	height: 460px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	padding-top: 100px;
	opacity: .75;
}

/*project history stuff*/
.history{
	font-size: 20px;
	padding-top: 40px;
}

.history1 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
}

.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}
.down:hover{
	cursor: url("../../assets/down.png"), wait;
}



.project-history{
	padding-top: 20px;
	padding-left: 40px;
	font-size: 1.75em;
}

@media only screen and (width: 2560px){
	figure{
		height: 1366px;
	}
	figure img{
		height: 1366px;
	}
	.fold{
		width: 94.5%;
		margin-top: -1278px;
		height: 1100px;
		font-size: 30px;
	}
	.fold p{
		font-size: 29px !important;
		max-width: 50% !important;
	}
}

@media only screen and (width: 1920px) {
	figure{
		height: 960px;
	}
	figure img{
		height: 960px;
	}

	#contact{
    margin-left: 60px !important;
  }
  #work{
    margin-left: 60px !important;
  }

	.fold{
		margin-top: -965px;
		width: 92.7%;
		height: 785px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}

	.fold{
		font-size: 20px;
		height: 190px;
		width: 596px;
		margin-top: -375px;
	}
	.fold p{
		max-width: 70% !important;
		margin-top: -50px !important;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img {
		height: 375px;
	}
	.fold{
		margin-top: -339px;
		width: 568px;
		height: 240px;
		padding-left: 20px;
		padding-top: 20px;
	}
	.fold p{
		margin-top: 20px !important;
	}

	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}

	.fold{
		margin-top: -289px;
		font-size: 15px !important;
		width: 468px;
		height: 185px;
	}

	.fold p{
		font-size: 14px !important;
	}
}

@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}

	.fold{
		font-size: 12px !important;
		margin-top: -212px;
		width: 314px !important;
		height: 110px !important;
	}
	.fold p{
		max-width: 90% !important;
	}

	.title{
		font-size: 20px !important;
		position: absolute;
		z-index: 2;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
		color: white;
		background-color: black;
		opacity: .8;
	}
}

@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
	.fold{
		margin-top: -193px;
		font-size: 10px !important;
		width: 275px !important;
		height: 91px !important;
	}
	.fold p {
		font-size: 11px !important;
	}
}

@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}
	.fold{
		display: none;
		margin-top: -165px;
		font-size: 10px !important;
		width: 220px !important;
		height: 200px !important;
	}
}


