*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}


.slideshow{
	position: relative;
	display: block;
	overflow: hidden;
}

.slideshow:hover > .next{
	background-color: white;
}
.slideshow:hover > .prev{
	background-color: white;
}

figure{
	position: absolute;
	opacity: 0;
	transition: .5s opacity;
	width: 100%;
	height: 627px;
}

figure img {
	width: 100%;
	height: 627px;
}


figure.show {
	opacity: 1;
	position: static;
	transition: .5s opacity;
}

.next, .prev {
	color: #000;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	top: 0%;
	z-index: 1;
	font-size: 2em;
	margin-top: -.75em;
	opacity: 0;
	user-select: none;
	height: 100%;
	width: 50%;
}

.next:hover, .prev:hover {
	opacity: 0;
}


.next{
	right: 0;
	padding: 10px 5px 15px 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}
.next:hover{
	cursor: url("../../assets/right.png"), wait;
}
.prev:hover{
	cursor: url("../../assets/left.png"), wait;
}

.prev{
	left: 0;
	padding: 10px 10px 15px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.title{
	font-size: 40px !important;
	position: absolute;
	z-index: 2;
  padding: 20px 40px 20px 20px;
	margin-top: -87px;
	color: white;
	background-color: black;
	opacity: .8;
}

.history{
	padding-top: 40px;
	font-size: 1.25em;
}

.history1 img{
	width: 100%;
	height: 66%;
	margin-top: -40px;
	padding-bottom: 20px;
}

.expand{
	position: relative;
	font-size: 30px;
	float: right;
	cursor: pointer;
	color: white;
	z-index: 3;
	margin-top: -630px;
	margin-right: 40px;
}
.fold{
	display: none;
	position: absolute;
	font-size: 40px;
	margin-top: -745px;
	width: 1140px;
	height: 584px;
	color:white;
	background-color: black;
	padding: 80px 80px 80px 60px;
	padding-top: 100px;
	opacity: .9;
}


.down{
	width: 100%;
	height: 85px;
	margin-top: -88px;
	z-index: 5;
	position: absolute;
}

.down:hover{
	cursor: url("../../assets/down.png"), wait;
}





@media only screen and (min-width: 1920px) {
	figure{
		height: 960px
	}
	figure img{
		height: 960px;
	}
	.expand{
		margin-top: -1000px;
	}
	.fold{
		margin-top: -1105px;
		width: 1780px;
		height: 945px;
	}
}

@media only screen and (max-width: 736px) {
	figure{
		height: 414px;
	}
	figure img{
		height: 414px;
	}
	.expand{
		margin-top: -400px;
	}
	.fold{
		font-size: 20px;
		height: 278px;
		width: 596px;
		margin-top: -439px;
	}
}

@media only screen and (max-width: 667px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	.expand{
		margin-top: -370px;
	}
	.fold{
		margin-top: -400px;
		width: 568px;
		height: 300px;
		padding-left: 20px;
		padding-top: 20px;
	}
	.title{
		font-size: 20px !important;
		margin-top: -64px;
	}
}

@media only screen and (max-width: 568px) {
	figure{
		height: 320px;
	}
	figure img{
		height: 320px;
	}
	.expand{
		margin-top: -310px;
		font-size: 20px;
		margin-right: 20px;
	}
	.fold{
		margin-top: -345px;
		width: 468px;
		height: 244px;
	}
}

/*iphone 6 plus*/
@media only screen and (max-width: 414px) {
	figure{
		height: 375px;
	}
	figure img{
		height: 375px;
	}
	.expand{
		margin-top: -230px;
	}
	.fold{
		font-size: 12px !important;
		margin-top: -258px;
		width: 314px !important;
		height: 153px !important;
	}

	.title{
		font-size: 20px !important;
		position: absolute;
		z-index: 2;
	  padding: 10px 20px 10px 10px;
		margin-top: -44px;
		color: white;
		background-color: black;
		opacity: .8;
	}
}


@media only screen and (max-width: 375px) {
	figure{
		height: 350px;
	}
	figure img{
		height: 350px;
	}
	.expand{
		margin-top: -210px;
	}
	.fold{
		margin-top: -236px;
		width: 275px !important;
		height: 131px !important;
	}
}



@media only screen and (max-width: 320px) {
	figure{
		height: 300px;
	}
	figure img{
		height: 300px;
	}
	.expand{
		margin-top: -180px;
	}
	.fold{
		margin-top: -205px;
		font-size: 10px !important;
		width: 220px !important;
		height: 100px !important;
	}
}


.fold {
  -webkit-animation: fadein 2000ms linear both;
        animation: fadein 2000ms linear both;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.away{
	-webkit-animation: GoAway 1000ms linear both;
        	animation: GoAway 1000ms linear both;
}

@-webkit-keyframes GoAway {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes GoAway {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

